form{
    width: 40%;
    margin: 7% auto;
    border: 1px solid grey;
    padding: 3%;
    border-radius: 7px;
}
button{
    width: 100%;
    margin-top: 7%;
}
.notFound{
    color: red;
    text-align: center;
    margin-bottom: 7%;
    font-size: 2rem;
}